@import "./../colors";

.landing-page {
  background: $color4;
  overflow: hidden;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    flex-grow: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .buttons {
    flex-grow: 3;

    button {
      font-size: 20px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer {
    flex-grow: 0;
  }

}